---
layout: default
title: News From Côte d'Ivoire - Real or Satire
tags: index
---
<div class="container">
    <img src="assets/images/fratmat_logo.png" style="padding-bottom: 10px;"/>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 gx-3 gy-4">
            {% for post in site.posts reversed %}
                {% if post.tags contains "fratmat" %}
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ post.photo }}" class="card-img img-thumbnail" alt="...">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.headline}}</p>
                            <a href="{{post.url}}" class="btn btn-primary mt-auto" style="background-color: #ED8700; border-color: #ED8700;">Read Here!</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    <hr/>
    <img src="assets/images/le_daisirlan_logo_resize_1.png" style="width: 30vw; ; height:auto; padding-bottom: 10px;"/>
    <ul>
        {% for post in site.posts reversed %}
            {% if post.tags contains "daisirlan" %}
                <li>
                    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>