<nav class="navbar navbar-expand-sm navbar-light shadow-sm" id="navbar">
    <div class="container">
        {% if page.tags contains "fratmat" %}
            <a class = "navbar-brand" href="../../../index.html">
                <img src="../../../assets/images/fratmat_logo.png" alt ="logo" id="fratmat-logo"><!-- Fraternite Matin Layout -->
            </a>
        {% elsif page.tags contains "daisirlan" %}
            <a class = "navbar-brand" href="../../../index.html">
                <img src="../../../assets/images/le_daisirlan_logo_resize_1.png" class="daisirlan-logo"><!-- Le Daisirlan Layout -->
            </a>
        {% else %}
            <p class="navbar-brand" id="default-title">News From Côte d'Ivoire</p> <!-- Default Layout -->
        {% endif %}
        <ul class="navbar-nav" id="bar-options">
            <li class="asdfasdf">
                <span class="fa fa-search" id="search-icon"></span>
            </li>
            <li class="nav-item">
              <a href = "#" class="nav-link">Domestic</a>
            </li>
            <li class="nav-item">
                <a href = "#" class="nav-link">HIV-M</a>
            </li>
            <li class="nav-item">
                <a href = "#" class="nav-link">Opinion</a>
            </li>
            <li class="nav-item">
                <a href = "#" class="nav-link">Africa</a>
              </li>
            <li class="nav-item">
              <a href = "#" class="nav-link">Americas</a>
            </li>
            <li class="nav-item">
              <a href = "#" class="nav-link">Europe</a>
            </li>
            <li class="nav-item">
                <a href = "#" class="nav-link">Asia</a>
            </li>
        </ul>
    </div>
</nav>
